

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 24px;
}

.app_searchForm{
  margin-top: 18px;
}

.app_input{
  padding: 6px 16px;
  min-width: 200px;
  max-width: 100vw;
  font-size: 15px; 
}

.app_submit{
  padding: 6px 16px;
  font-size: 15px;
  margin-left: 6px;
  background-color: #02aff0;
  border: 2px solid #02aff0;
  border-radius: 4px;
  color: white;
}

.app_recipes{
  margin-top: 24px;
  display: grid;
  grid-template-columns: 230px 230px;
}